fastapi
uvicorn[standard]
celery[redis]
sqlalchemy
transformers
beautifulsoup4
requests
pydantic
redis
types-requests
pydantic-settings
mypy
camelot-py
pandas
opencv-python
fuzzywuzzy
alembic
num2words
camelot-py[base]
ctransformers
pdfplumber
passlib
pybase64
secure-smtplib
bcrypt