fastapi
uvicorn[standard]
celery[redis]
sqlalchemy
transformers
sentence-transformers
beautifulsoup4
requests
pydantic
redis
types-requests
pydantic-settings
mypy
camelot-py
pandas
opencv-python
fuzzywuzzy
alembic
num2words