fastapi
uvicorn[standard]
celery[redis]
sqlalchemy
requests
pydantic
redis
types-requests
pydantic-settings
mypy
camelot-py
pandas
fuzzywuzzy
alembic
num2words
camelot-py[base]
pdfplumber
passlib
bcrypt
openpyxl
PyPDF2